:root {
  --font-family: 'TTCommons-Regular', sans-serif;

  --color-dark-1: #101010;
  --color-dark-2: #232323;
  --color-grey: #E8E8E8;
  --color-light-grey: #F3F3F3;
  --color-white-1: #FFFFFF;
  --color-white-2: #F3F3F3;
  --color-light: var(--color-white-1);

  --color-blue: #1059C8;
  --color-purple: #7941A7;
  --color-light-purple: #E2BEFF;
  --color-light-green: #9EFFBF;

  --background-light: var(--color-white-1);
  --on-background-light: var(--color-dark-1);

  --background-grey: var(--color-grey);
  --on-background-grey: var(--color-dark-1);

  --background-light-grey: var(--color-light-grey);
  --on-background-light-grey: var(--color-dark-1);

  --background-light-purple: var(--color-light-purple);
  --on-background-light-purple: var(--color-dark-1);

  --background-dark: var(--color-dark-1);
  --on-background-dark: var(--color-white-1);

  --transition-delay: 0.3s;
  --transition-function: ease-in-out;
}